<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<!--<link href="https://unpkg.com/tabulator-tables@4.7.0/dist/css/tabulator.min.css" rel="stylesheet">-->
<link href="https://unpkg.com/tabulator-tables@4.7.0/dist/css/tabulator.min.css" rel="stylesheet">

<link rel="stylesheet" href="../static/css/form_style.css?v={{v}}" />
<link rel="stylesheet" href="../static/css/table_style.css" />
<link rel="stylesheet" href="../static/css/progress_bar_style.css" />

<!-- cookiealert.css -->
<link rel="stylesheet" href="../static/css/cookiealert.css">
