{% extends "base.html" %}
{% set active_page = "contributions_menu" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-form my-5">
                    <div class="card-body">
                        <h3 class="card-title">{{paper['short_cit']}}</h3>
                        <p id="checking_connection" style="display: None" class="text-danger">Checking connection.  If this is message persists, connection to retrobiocat has been lost.  Please refresh the page before continuing.</p>

                        <ul class="nav nav-tabs" id="tab_list" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="aw_menu_tab" data-toggle="tab" href="#aw_menu" role="tab" aria-controls="aw_menu" aria-selected="true">Menu</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="aw_molecules_tab" data-toggle="tab" href="#aw_molecules" role="tab" aria-controls="aw_molecules" aria-selected="false">Molecules</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="aw_grouped_data_tab" data-toggle="tab" href="#aw_grouped_data" role="tab" aria-controls="aw_grouped_data" aria-selected="false">Grouped data</a>
                          </li>


                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="aw_menu" role="tabpanel" aria-labelledby="aw_menu_tab">
                          </div>

                          <div class="tab-pane fade" id="aw_molecules" role="tabpanel" aria-labelledby="aw_molecules_tab">
                          </div>

                          <div class="tab-pane fade" id="aw_grouped_data" role="tabpanel" aria-labelledby="aw_grouped_data_tab">
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function renew_session() {
            document.getElementById("checking_connection").style.display = "inline";
            $.post(Flask.url_for("biocatdb.check_connection"), {
                task_id: window.task_id
            }).done(function(data) {
                if (data.status === 'success') {
                    document.getElementById("checking_connection").style.display = "None";
                } else {
                    setTimeout(renew_session(), 5000)
                }

            })
        }

        setInterval(renew_session(), 30000);

        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle='tab']", function(event) {
                location.hash = this.getAttribute("href");
            });
        });

        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });

    </script>


{% endblock %}