{% extends "base.html" %}
{% set active_page = "login" %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}
{% from 'global/macros/login_form_macros.html' import email with context %}
{% from 'global/macros/login_form_macros.html' import password with context %}
{% from 'global/macros/form_macros.html' import checkbox with context %}

{% block content %}
        <div class="container">
        <form id="main_form" method="POST" action="" novalidate>
            <div class="row">
                <div class="col-sm-7 mx-auto">
                    <div class="card card-form my-5">
                        <div class="card-body" align="center">
                            <h3 class="card-title">{{ _('Login') }}</h3>

                            <p>Please note, logging in currently only offers the option to save networks.  You are NOT required to login for most functions of this website.</p>

                            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                                {{ login_user_form.hidden_tag() }}
                                {{ email(login_user_form.email) }}
                                {{ password(login_user_form.password) }}
                                {{ checkbox(login_user_form.remember) }}
                                {{ render_field_errors(login_user_form.csrf_token) }}
                                <div class="form-group my-2">
                                    {{ login_user_form.submit(class="btn-lg btn-block btn-success", form="main_form") }}
                                </div>
                            </form>

                            {% include "security/_menu.html" %}

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
