<div class="container-fluid">
    <div id="row_1_activity" class="row">
        <div class='col-6 my-auto text-center no-gutters mt-4' id="activity_col1"></div>
        <div class='col-6 my-auto text-center no-gutters mt-4' id="activity_col2"></div>
    </div>

    <div id="row_2_images" class="row">
        <div class='col my-auto text-center' id="substrate_images"></div>
        <div class='col my-auto text-center' id="reaction_images"></div>
        <div class='col my-auto text-center' id="product_images"></div>
    </div>

    <div id="row_3_conditions" class="row">
        <div class='col my-auto text-center' id="substrate_conditions"></div>
        <div class='col my-auto text-center' id="reaction_conditions"></div>
        <div class='col my-auto text-center' id="product_conditions"></div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <p><strong>Data curated by: </strong><span id="activity_added_by"></span></p>
        </div>
    </div>
</div>


<script>
    function set_reaction_img(sub1, sub2, prod, reaction_name, enzyme, enzyme_type, biocat_conc, formulation, selectivity,temperature, ph, solvent) {

        var substrate_images = document.getElementById("substrate_images")
        substrate_images.innerHTML = ''
        substrate_images.innerHTML += "<img class='no_margin' src='" + sub1 +"' alt=''>"
        if (sub2 != '') {
            substrate_images.innerHTML += "<p class='no_margin'><strong> + </strong></p>"
            substrate_images.innerHTML += "<img class='no_margin' src='" + sub2 +"' alt=''>"
        }

        var reaction_images = document.getElementById("reaction_images")
        reaction_images.innerHTML = ''
        reaction_images.innerHTML = "<p class='no_margin'>"+ reaction_name +"</p>"
        reaction_images.innerHTML += "<p class='no_margin'><strong>--------></strong></p>"
        reaction_images.innerHTML += "<p class='no_margin'>"+ enzyme + " <small class='text-secondary'>(" + enzyme_type + ")</small></p>"
        reaction_images.innerHTML += "<p class='no_margin text-info'><small>"+ biocat_conc +" " + formulation + "</small></p>"
        reaction_images.innerHTML += "<p class='no_margin text-danger'><small>"+ ph +", " + temperature + "</small></p>"
        reaction_images.innerHTML += "<p class='no_margin text-danger'><small>"+ solvent + "</small></p>"

        var product_images = document.getElementById("product_images")
        product_images.innerHTML = ''
        product_images.innerHTML += "<img src='" + prod +"' alt=''>"
        product_images.innerHTML += "<p class='no_margin'>"+ selectivity +"</p>"

    }

    function add_reaction_conditions(sub1_conc, sub2_conc, other_conditions, notes, volume) {
        var substrate_conditions = document.getElementById("substrate_conditions")
        substrate_conditions.innerHTML = ''
        if (sub1_conc != '') {
            substrate_conditions.innerHTML += "<p class='no_margin'>Substrate 1: <span class='text-secondary'>" + sub1_conc + "</span></p>"
        }
        if (sub2_conc != '') {
            substrate_conditions.innerHTML += "<p class='no_margin'>Substrate 2: <span class='text-secondary'>" + sub2_conc + "</span></p>"
        }

        var reaction_conditions = document.getElementById("reaction_conditions")
        reaction_conditions.innerHTML = "<p class='no_margin text-secondary mt-2'><small>"+ volume + "</small></p>"
        reaction_conditions.innerHTML += "<p class='no_margin text-secondary'><small>"+ other_conditions +"</small></p>"

        var product_conditions = document.getElementById("product_conditions")
        product_conditions.innerHTML = "<p class='no_margin text-secondary'><small>"+ notes +"</small></p>"
    }

    function add_activity(active, category, sa, conv, kinetics) {
        var activity_1 = document.getElementById("activity_col1")
        if (category !== '') {
            activity_1.innerHTML = "<strong><p class='no_margin text-dark'>" + active + " - " + category + "</p></strong>"
        } else {
            activity_1.innerHTML = "<strong><p class='no_margin text-dark'>" + active + "</p></strong>"
        }


        var activity_2 = document.getElementById("activity_col2")
        activity_2.innerHTML = ""
        if (sa !== '') {
            activity_2.innerHTML += "<p class='no_margin'><strong>Specific activity:</strong></p>"
            activity_2.innerHTML += "<p class='no_margin'>        " + sa + "</p>"
        }
        if (conv !== '') {
            activity_2.innerHTML += "<p class='no_margin'><strong>Conversion:</strong></p>"
            activity_2.innerHTML += "<p class='no_margin'>" + conv + "</p>"
        }
        if (kinetics !== '') {
            activity_2.innerHTML += "<p class='no_margin'><strong>Kinetics:</strong></p>"
            activity_2.innerHTML += "<p class='no_margin'>" + kinetics + "</p>"
        }
    }

    function set_colour(active, category) {
        var activity_row = document.getElementById("row_1_activity")

        if (active === 'Not active') {
            activity_row.style = "background-image: linear-gradient(rgba(255, 179, 179,1), rgba(221, 252, 212,0));"
        } else if (category === 'Medium') {
            activity_row.style = "background-image: linear-gradient(rgba(255, 255, 204,1), rgba(221, 252, 212,0));"
        } else if (category === 'Low') {
            activity_row.style = "background-image: linear-gradient(rgba(255, 221, 204,1), rgba(221, 252, 212,0));"
        } else {
            activity_row.style = "background-image: linear-gradient(rgba(221, 252, 212,1), rgba(221, 252, 212,0));"
        }

    }

    function load_single_activity_data(activity_id) {
        $.post('/_load_single_activity_data', {
            activity_id: activity_id,
        }).done(function (data) {
            set_reaction_img(data.result.sub1_img, data.result.sub2_img, data.result.prod_img,
                             data.result.reaction, data.result.enzyme_name, data.result.enzyme_type,
                             data.result.biocat_conc, data.result.formulation, data.result.selectivity,
                             data.result.temperature, data.result.ph, data.result.solvent)

            add_reaction_conditions(data.result.sub1_conc, data.result.sub2_conc, data.result.other_conditions, data.result.notes, data.result.volume)

            add_activity(data.result.active, data.result.category, data.result.sa, data.result.conv, data.result.kinetics)

            set_colour(data.result.active, data.result.category)

            document.getElementById("activity_added_by").innerHTML = data.result.added_by
        })
    }
</script>

