{% extends "base.html" %}
{% set active_page = "" %}

{% block content %}
    <style>
        #myssn {
            width: 100%;
            height:87vh;
            background-color: white;
            border: 1px solid lightgray;
            position: relative;
            float: left; }
    </style>

    <div style="overflow-y: hidden; height:90vh">
        {% include 'ssn/ssn_top_bar.html' %}
        <div id="myssn"></div>
    </div>

    {% include 'ssn/modals/network_physics_modal.html' %}
    {% include 'ssn/modals/edit_selected_nodes_modal.html' %}
    {% include 'ssn/modals/uniref_modal.html' %}
    {% include 'tabulator_tables/sequences_table/seq_row_click_modal.html' %}

    <script type="text/javascript">
        // initialize global variables.
        var container = document.getElementById('myssn');

        window.enzyme_type = "{{enzyme_type}}"
        window.alignment_score = {{alignment_score|safe}}

        var edges_options = {'smooth': false}

        var physics_options = {'stabilization': {'enabled': false,
                                                 'iterations': 50},
                                "repulsion": {
                                      "centralGravity": 0.1,
                                      "springLength": 860,
                                      "nodeDistance": 860,
                                      "damping": 0.5
                                },
                                "maxVelocity": 100,
                                "minVelocity": 0.75,
                                "solver": "repulsion",
                                "timestep": 0.75}

        var interaction_options = {'tooltipDelay': 0,
                                   'hover': false,
                                   'hoverConnectedEdges': false,
                                   'selectConnectedEdges': false,
                                   'zoomSpeed': 0.5}

        var configure_options = {filter: function (option, path) {
                                    if (path.indexOf("physics") !== -1) {
                                        return true;}
                                    if (path.indexOf("smooth") !== -1 || option === "smooth") {
                                        return true;
                                    }
                                    return false;},
                                    container: document.getElementById("ssn_network_config")}


        var options = {edges: edges_options,
                       physics: false,
                       interaction: interaction_options,
                       configure: configure_options,
                       nodes: {shapeProperties: {interpolation: false}}
                      };

        const edges = new vis.DataSet({{edges|tojson}})
        const nodes = new vis.DataSet({{nodes|tojson}})

        var data = {'nodes': nodes, 'edges': edges};

        var network = new vis.Network(container, data, options);

        network.on("selectNode", function(params) {
            data['edges'].clear()
            get_edges(params.nodes[0])
        })

        network.on("deselectNode", function(params) {
            data['edges'].clear()
        })

        function get_edges(selected_node) {
            $.post($SCRIPT_ROOT + '/_edge_ajax', {
                enzyme_type: window.enzyme_type,
                alignment_score: window.alignment_score,
                selected_node: selected_node
                }).done(function(response_data) {
                    var newEdges = response_data.result.edges
                    for (let i = 0; i < newEdges.length; i++) {
                        data['edges'].update(newEdges[i])
                    }
                })
        }

        window.selected_node = ''
        network.on("hold", function(params) {
            if (params['nodes'].length === 1) {
                window.selected_node = params.nodes[0]
                load_enzyme_modal()
            }
        })

        function select_connected_nodes() {
            var currently_selected = network.getSelectedNodes()
            $.post($SCRIPT_ROOT + '/_connected_nodes_ajax', {
                enzyme_type: window.enzyme_type,
                alignment_score: window.alignment_score,
                selected_nodes: JSON.stringify(currently_selected)
                }).done(function(response_data) {
                    var new_nodes = response_data.result.nodes
                    var to_select = new_nodes.concat(currently_selected)
                    network.selectNodes(to_select)
                })
        }


        network.moveTo({position: {{start_pos|safe}},
                        scale: 0.01})

        function load_enzyme_modal() {
            if (data['nodes'].get([window.selected_node])[0]['node_type'] === 'biocatdb') {
                var enzyme_name = window.selected_node
                load_sequence_data(enzyme_name)
                load_seq_papers(enzyme_name)
                document.getElementById('sequence_row_click_model_title').innerHTML = enzyme_name;
                $('#sequence_row_modal').modal('show');
            } else if (data['nodes'].get([window.selected_node])[0]['node_type'] === 'uniref') {
                $('#uniref_modal').modal('show');
                load_uniref_data(window.selected_node)
            }
        }

        function load_uniref_data(name) {
            $.post($SCRIPT_ROOT + '/_load_uniref_data', {
                name: name,
                enzyme_type: window.enzyme_type
                }).done(function(data) {
                    document.getElementById('uniref_name').innerHTML = data.result.cluster_id
                    document.getElementById('rep_seq_uniref_cluster_id').innerHTML = data.result.cluster_id
                    document.getElementById('link_to_uniref').href = "https://www.uniprot.org/uniref/" + data.result.cluster_id

                    document.getElementById('rep_seq_name').innerHTML = data.result.rep_seq_name
                    document.getElementById('rep_seq_organism').innerHTML = data.result.rep_seq_organism
                    document.getElementById('rep_seq_uniprot_id').innerHTML = data.result.rep_seq_uniprot_id
                    document.getElementById('link_to_uniprot').href = "https://www.uniprot.org/uniprot/" + data.result.rep_seq_uniprot_id
                    document.getElementById('rep_seq_name').innerHTML = data.result.rep_seq_name
                    document.getElementById('uniprot_in_cluster').innerHTML = data.result.num_uniprot
                    document.getElementById('uni90_in_cluster').innerHTML = data.result.num_uni90

                    parse_pfams(document.getElementById('rep_seq_pfam_domains'), data.result.pfam_object)
                })
        }

        function parse_pfams(dom_div, pfam_object) {
            dom_div.innerHTML = ""
            for (const [key, value] of Object.entries(pfam_object)) {
                var new_pfam = document.createElement('p')
                dom_div.appendChild(new_pfam)
                new_pfam.innerHTML = "<b>" + value + "</b> - <a href='https://pfam.xfam.org/family/" + key + "' target='_blank'>" + key + "</a>"
            }
        }


    </script>

{% endblock %}
