{% extends "base.html" %}
{% set active_page = "enzyme_database" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div id='card_div' class="card card-form my-5" style="width: 32rem;">
                    <div class="card-body" align="center">
                        <h3 class="card-title">Sequence similarity networks</h3>

                        <form id="main_form" method="POST" action="" novalidate>
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="enzyme_type">Enzyme type</label>
                                {{ form.enzyme_type(type='select', id='enzyme_type', class="form-control custom-select w-50") }}
                                <br/><small><strong>SSN status: </strong><span id="ssn_object_status"></span></small>
                                {% for error in form.enzyme_type.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <p><small>These alignment scores are precalculated so will load more quickly.
                                Number of clusters with > 6 nodes shown at each alignment score</small></p>

                            <div id="alignment_scores_vs_cluster_num_viz_tool" class="no_margin" style="height: 20px"></div>
                            <div id="alignment_scores_vs_cluster_num_viz" class="no_margin"></div>
                            <div id="alignment_scores_vs_identity_tool" class="no_margin" style="height: 20px"></div>
                            <div id="alignment_scores_vs_identity" class="no_margin"></div>

                            <div id="charts_div"></div>


                            <div class="form-group">
                                {{ form.alignment_score.label(class="mx-2 my-1") }}
                                {{ form.alignment_score(type='number', form="main_form", class="form-control form-control-sm w-25 my-1") }}
                                {% for error in form.alignment_score.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <div class="custom-control custom-checkbox mt-4">
                                {{ form.include_mutants(type='checkbox', form="main_form", class="custom-control-input") }}
                                {{ form.include_mutants.label(class="custom-control-label") }}
                            </div>

                            <div class="custom-control custom-checkbox">
                                {{ form.only_biocatdb(type='checkbox', form="main_form", class="custom-control-input") }}
                                {{ form.only_biocatdb.label(class="custom-control-label") }}
                            </div>

                            <div class="form-group mt-4">
                                {{ form.submit(class="btn-lg btn-block btn-success") }}
                            </div>
                        </form>

                        <div class="progress">
                            <div class="progress-bar" id='progressbar'></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    {% include 'ssn/ssn_form_graphs.html' %}

    <script>
        function getStatus(taskID) {
            $.get('ssn_status/' + taskID, {
            }).done(function(response) {
                const taskStatus = response.data.task_status;
                const taskProgress = response.data.task_progress;
                if (taskProgress === 'started') {
                    document.getElementById("progressbar").style = "width: 50%"
                    document.getElementById("progressbar").innerText = "Loading SSN"
                } else if (taskProgress === 'visualising') {
                    document.getElementById("progressbar").style = "width: 90%"
                    document.getElementById("progressbar").innerText = "Visualising Network"
                }

                if (taskStatus === 'finished') {
                    document.getElementById("progressbar").style = "width: 100%"
                    document.getElementById("progressbar").innerText = "Done"
                    let url = '/ssn_page/' + taskID + '/'
                    location.assign(url);
                    return false;
                } else if (taskStatus === 'failed') {
                    return false;
                } else {
                    setTimeout(function() {
                        getStatus(response.data.task_id);
                        }, 3000);
                }
            })
        }

        var task_id = '{{task_id}}'

        if (task_id !== '') {
            getStatus(task_id);
            document.getElementById("progressbar").style = "width: 33%"
            document.getElementById("progressbar").innerText = "Queuing"
        }

        document.getElementById("enzyme_type").onchange = function(){
            get_ssn_object_status()
        }

        function get_ssn_object_status() {
            $.post('/_ssn_object_status', {
                enzyme_type: document.getElementById("enzyme_type").value
                }).done(function(data) {
                    document.getElementById("ssn_object_status").innerHTML = data.result.status
                    var alignment_cluster_data = data.result.alignment_cluster_data
                    var alignment_identity_data = data.result.alignment_identity_data
                    var max_clusters = data.result.max_clusters
                    var max_alignment = data.result.max_alignment
                    var min_alignment = data.result.min_alignment
                    d3.select("svg").remove()
                    d3.select("svg").remove()
                    draw_alignment_cluster_graph(alignment_cluster_data, max_alignment, min_alignment, max_clusters)
                    draw_alignment_identity_graph(alignment_identity_data, max_alignment, min_alignment)
                })
        }

        get_ssn_object_status()
    </script>



{% endblock %}