<!-- Main modal -->
<div class="modal fade" id="network_physics_modal" tabindex="-1" role="dialog" aria-labelledby="network_physics_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change network physics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <button class="btn btn-primary" onclick="stabilise_network()" data-dismiss="modal" aria-label="Close">Position nodes using VisJS physics</button>
                <div id="ssn_network_config"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
