<!-- Main modal -->
<div class="modal fade" id="uniref_modal" tabindex="-1" role="dialog" aria-labelledby="uniref_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uniref_name"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h5 class="mt-2"><u>Cluster</u></h5>
                <p>UniRef cluster ID: <a href="" id="link_to_uniref" target="_blank"><b id="rep_seq_uniref_cluster_id"></b></a></p>
                <p>Uniprot seqs in cluster: <b id="uniprot_in_cluster"></b></p>
                <p>Uniref90 seqs in cluster: <b id="uni90_in_cluster"></b></p>

                <h5 class=""><u>Representative sequence</u></h5>
                <p>Name: <b id="rep_seq_name"></b></p>
                <p>Organism: <b id="rep_seq_organism"></b></p>
                <p>UniProt ID: <a href="" id="link_to_uniprot" target="_blank"><b id="rep_seq_uniprot_id"></b></a></p>
                <p>Pfam domains:</p>
                <div class="ml-3" id="rep_seq_pfam_domains"></div>
                <a href="" target="_blank" id="interpro_link"><button class="btn btn-sm btn-outline-warning">Interpro</button></a>
                <a href="" target="_blank" id="pfam_link"><button class="btn btn-sm btn-outline-danger">Pfam</button></a>





            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>
