{% extends "base.html" %}
{% set active_page = "contributions_menu" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card card-form my-5" style="width: 50rem;">
                    <div class="card-body" align="center">
                        {% include 'add_paper_workflow/add_paper_wtform.html' %}
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}