{% extends "base.html" %}
{% set active_page = "more_info" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card card-form my-5">
                    <div class="card-body">
                        <h3 class="card-title py-5">Mutant generator</h3>

                        <div class="form-group">
                            <label for='enzyme_name'>Enzyme name</label>
                            <input type="text" class="form-control" id="enzyme_name" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for='sequence'>Protein sequence</label>
                            <textarea class="form-control" id="sequence" placeholder="" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <label for='res_num'>Residue number to mutate</label>
                            <input type="number" class="form-control" id="res_num" placeholder="">
                            <p>Residue = <span id="residue"></span></p>
                        </div>

                        <div class="form-group">
                            <label for='mutate_to'>Amino acid to mutate to</label>
                            <input type="text" class="form-control" id="mutate_to" placeholder="">
                        </div>

                        <button type="button" onclick="do_mutation()" class="btn btn-success" id="execute">Execute</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("res_num").onchange = function() {
            updateResidueAt()
        }

        function updateResidueAt() {
            var sequence = document.getElementById("sequence").value
            var res_num = document.getElementById("res_num").value-1
            document.getElementById("residue").innerHTML = sequence[res_num]
        }

        function setCharAt(str,index,chr) {
            if(index > str.length-1) return str;
            return str.substring(0,index) + chr + str.substring(index+1);
        }

        function do_mutation() {
            var sequence = document.getElementById("sequence").value
            var res_num = document.getElementById("res_num").value - 1
            var mutate_to = document.getElementById("mutate_to").value
            var current_res = sequence[res_num]

            if (current_res !== mutate_to) {
                document.getElementById("sequence").value = setCharAt(sequence, res_num, mutate_to)
                updateResidueAt()
                var enz_name = document.getElementById("enzyme_name").value
                document.getElementById("enzyme_name").value = enz_name + '_' + current_res + (res_num+1) + mutate_to
            }
        }
    </script>

{% endblock %}
