{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}
    <div class="container my-5">
        <h3 class="card-title">Cookie policy</h3>

        <p>We use cookies to improve your experience by remembering your details so that you do not
            need to keep re-entering them. We also use a session cookie to keep track of job submissions to
            network explorer,  pathway explorer, or when querying biocatdb,
            to prevent multiple concurrent job submissions.
            No tracking cookies are used, and cookies are not shared with any third parties.
        </p>

    </div>

    <div class="container my-5">
        <h3 class="card-title">Privacy policy</h3>
        <p>
            It is the policy of retrobiocat.com to respect your
            privacy regarding any information we may collect from you across our website.
        </p>

        <p>
            We only retain collected information for as long as necessary
            to provide you with your requested service.
            What data we store, we’ll protect within commercially acceptable
            means to prevent loss and theft, as well as unauthorised access,
            disclosure, copying, use or modification.
        </p>

        <p>
            Your continued use of our website will be regarded as acceptance
            of our practices around privacy and personal information.
            RetroBioCat may update this Policy at any time.
            In the event there are material changes in the way we
            treat your personal information, we will notify you by email.
        </p>

        <p>
            On signing up for this website we collect the following information:
            email address, real first name, real last name, affiliation and
            whether you opt-in to receive email communication.
            Passwords are hashed and therefore cannot be accessed other than to verify logins.
            Information generated and then saved by the user when interacting
            with the services this website provides is also retained,
            but is deleted if the user deletes their account.
            You can amend your account information and at any time by visiting your account page.
            You can delete your account by visiting your account page.
            You are free to refuse our request for your personal information,
            with the understanding that we may be unable to provide you with some of
            your desired services.
        </p>

        <p>
            Real name and affiliation may be used to attribute user
            contributed content to this website. This will be made clear in each case.
        </p>

        <p>
            Other than where associated with user contributed content, we don’t share any personally identifying information publicly or
            with third-parties, except when required to by law.
            If you have any questions about how we handle user data and personal
            information, feel free to contact us. william.finnigan at manchester.ac.uk
        </p>

        <p>
            In addition, all requests to the server are logged using the default settings available in caddy v2.0 and Flask.
        </p>

        <p>
            This policy is effective as of 31st May 2020.
        </p>
    </div>


{% endblock %}