<div class="modal fade" id="marvin_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Getting SMILES from MarvinJS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    First, open
                    <a href="https://marvinjs-demo.chemaxon.com/latest/" target="_blank">MarvinJS</a>
                     in a separate browser window and draw your substrate.
                </p>

                <div class="row justify-content-center mb-5">
                    <img src="{{url_for('.static', filename='images/marvin_1.png')}}"
                         class="center-block img-fluid"
                         style="max-width: 60%; height: auto">
                </div>

                <p>
                    Next, click on the floppy disk icon (<b>“Export”</b>). <br/>
                    Using the <b>“Format”</b> dropdown menu, select <b>SMILES</b>.
                </p>

                <div class="row justify-content-center mb-5">
                    <img src="{{ url_for('.static', filename='images/marvin_2.png') }}"
                         class="center-block img-fluid"
                         style="max-width: 60%; height: auto">
                </div>

                <p>
                    Copy the SMILES string and paste it into the relevant field of RetroBioCat. <br/>
                    For example <b>"Substrate 1 SMILES”</b>
                </p>

            </div>
        </div>
    </div>
</div>

