
<div id="papers_response"></div>
<div id="papers_table"></div>

{% include '/tabulator_tables/papers_table/paper_delete_modal.html' %}

<script>

    var paper_deleteButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-danger' data-toggle='modal' data-target='#delete_paper_modal'>Delete</button>";
    };

    var paper_editButton = function(cell, formatterParams, onRendered){ //plain text value
        var row_data = cell.getData()
        var id = row_data['_id']
        var url = Flask.url_for("biocatdb.submission_main_page", {"paper_id": id})
        return "<a href=" + url + " class='btn btn-sm btn-outline-info'>Edit</a>";
    };

    var paper_self_assignButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-success'>Self assign</button>";
    };

    var papers_columns = [

        {'title':"ID", align:"center", 'field':"_id", visible:false, headerSort:false},

        {'title': "Short cit.", align:"center", 'field': "short_citation", headerFilter:"input", formatter:"textarea"},

        {'title': "Title", align:"center", 'field': "title", headerFilter:"input", formatter:"textarea"},

        {'title': "DOI", align:"center", 'field': "doi", headerFilter:"input",
            formatter:function(cell, formatterParams){
                var cell_value = cell.getValue();
                var row_data = cell.getData()
                var doi = row_data['doi']
                var url = "<a href='https://doi.org/" + doi + "' target='_blank'>" + cell_value + "</a>";

                cell.getElement().style.display = 'inline-flex'
                cell.getElement().style["white-space"]  = 'pre-wrap'
                return url
                }
        },

        {'title': "Status", align:"center", 'field': "status", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Tags", align:"center", 'field': "tags", headerFilter:"input"},

        {% if show_owner == True %}
            {'title': "Owner", align:"center", 'field': "owner", headerFilter:"select", headerFilterParams:{values:true}},
        {% endif %}


        {% if 'delete' in papers_button_columns %}
            {'title': 'Delete', 'width':80, formatter:paper_deleteButton, align:"center",
                cellClick:function(e, cell){delete_paper_modal(cell.getRow().getData().title,
                                                               cell.getRow().getData()._id,
                                                               cell.getRow().getData().short_citation)}},
        {% endif %}

        {% if 'edit' in papers_button_columns %}
            {'title': 'Edit', 'width':80, formatter:paper_editButton, align:"center",
                cellClick:function(e, cell){edit_paper(cell.getRow().getData()._id)}},
        {% endif %}

        {% if 'self_assign' in papers_button_columns %}
            {'title': 'Self Assign', 'width':100, formatter:paper_self_assignButton, align:"center",
                cellClick:function(e, cell){self_assign(cell.getRow().getData()._id)}},
        {% endif %}

    ];

    var papers_tabledata = {{papers_data|safe}};

    var papers_table = new Tabulator("#papers_table", {
        data:papers_tabledata, //assign data to table
        maxHeight:"{{papers_table_height}}",
        layout:"fitColumns",
        addRowPos:"bottom",
        columns:papers_columns,
        cellHozAlign:"center",
        cellVertAlign:"middle",})

    function link_to_paper(doi) {
        var url = 'https://doi.org/' + doi
        window.open(url, "_blank");
    }

    function edit_paper(id) {
        var url = Flask.url_for("biocatdb.submission_main_page", {"paper_id": id})
        location.href = url;
    }

    function delete_paper_modal(name, id, cit) {
            document.getElementById("paper_cit").innerHTML = cit;
            document.getElementById("paper_name").innerHTML = name;
            document.getElementById("paper_id").innerHTML = id;
            hide_delete_confirm()
        }

    function self_assign(id) {
        $.post('/_self_assign', {
            paper_id: id,

            }).done(function(data) {
                response_msg(data.result.msg, data.result.status, data.result.issues, "papers_response")
            if (data.result.status === 'success') {
                window.location.href = Flask.url_for("biocatdb.submission_main_page", {"paper_id": id})
            }
            })
        }



</script>