{% extends "base.html" %}
{% set active_page = "experimental_menu" %}


{% block content %}

    <div class="container-fluid">
        <div id="save_response"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <div class="card card-form my-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">Admin for running blast searches</h3>
                        <div class="row mt-5">
                            <div class="col"></div>
                            <div class="col-8">
                                <div class="container">

                                {% for enz_type in blasted_enz_types %}
                                    <div class="my-2">
                                        <h6 class="mt-3">{{ enz_type }}</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{blasted_enz_types[enz_type]}}%"></div>
                                        </div>

                                        <p>BioCatDB sequences: {{enzyme_numbers[enz_type]['biocatdb']}}</p>
                                        <p>UniRef90 sequences: {{enzyme_numbers[enz_type]['uniref']}}</p>
                                        <p>Alignments: {{enzyme_numbers[enz_type]['alignments']}}</p>

                                        {% if enzyme_bioinformatics_status[enz_type] == 'Idle' %}
                                            {% set button_disable = '' %}
                                        {% else %}
                                            {% set button_disable = '' %}
                                        {% endif %}
                                        <button class="btn btn-sm btn-outline-primary {{button_disable}}" onclick="queue_blast_search('{{enz_type}}')" {{button_disable}}>Queue blasts for {{enz_type}}</button>
                                        <button class="btn btn-sm btn-outline-warning {{button_disable}}" onclick="reset_blast_status('{{enz_type}}')" {{button_disable}}>Reset blast status for {{enz_type}}</button>
                                    </div>
                                {% endfor %}


                                <button class="btn btn-sm btn-danger" onclick="clear_all_bioinformatics_data()">Clear all data</button>

                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script>
        function queue_blast_search(enzyme_type) {
            $.post('/_find_homologs', {
                enzyme_type: enzyme_type
                }).done(function(data) {
                    response_msg(data.result.msg, data.result.status, data.result.issues, "save_response")
                    location.reload()
                })
        }

        function reset_blast_status(enzyme_type) {
            $.post('/_reset_blast_status', {
                enzyme_type: enzyme_type
                }).done(function(data) {
                    response_msg(data.result.msg, data.result.status, data.result.issues, "save_response")
                    location.reload()
                })
        }

        function clear_all_bioinformatics_data() {
            $.post('/_clear_all_bioinformatics_data', {
                }).done(function(data) {
                    response_msg(data.result.msg, data.result.status, data.result.issues, "save_response")
                    location.reload()
                })
        }






    </script>

{% endblock %}