{% extends "base.html" %}
{% set active_page = "biocatdb" %}

{% block content %}
    <style>
    .sticky_head {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;}

    .max_height {height:90vh;
                 max-width: 100%;
                 overflow: auto;}

    .lock_scroll {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    .table_scroll {
        overflow-y: scroll;
        overflow-x: scroll;
    }
    </style>
    <div class="lock_scroll">
        <div class="container max_height table_scroll">
            <table class="table table-bordered table-sm table-hover">
              <thead class="thead-light">
                <tr>
                    {% for heading in headings %}
                        <th class="sticky_head" >{{heading}}</th>
                    {% endfor %}
                </tr>
              </thead>

              <tbody>
                {% for row in rows %}
                    <tr>
                        {% for item in row %}
                            <td style="{{item.style|safe}}">
                                {{item.content|safe}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>



{% endblock %}


