{% extends "base.html" %}
{% set active_page = "biocatdb" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 mx-auto">
                <div class="card card-form my-5">
                    <div class="card-body" align="center">
                        <h3 class="card-title">Substrate specificity search</h3>

                        <div class="progress">
                            <div class="progress-bar" id='progressbar'></div>
                        </div>

                        {% include 'substrate_specificity/substrate_specificity_form/form.html' %}
                        {% include 'substrate_specificity/substrate_specificity_form/script.html' %}

                        <p class="siimple-p">
                            To contribute data to this database, please download
                            <a href="{{url_for('.static', filename='Template_for_substrate_specificity_data_V2.xltx') }}"> this template, </a>
                            complete and email to william.finnigan@manchester.ac.uk
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}