{% extends "base.html" %}
{% set active_page = "" %}



{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card card-form my-5" style="width: 50rem;">
                    <div class="card-body">
                        <h3 class="card-title text-center">Thank you</h3>
                        <h5 class="text-center text-success">Your account has been given database contributor access</h5>

                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}