{% extends "base.html" %}
{% set active_page = "" %}



{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card card-form my-5" style="width: 50rem;">
                    <div class="card-body">
                        <h3 class="card-title text-center">Sign up to help curate the biocatalysis database</h3>

                        <p>Instructions detailing the process for adding data to RetroBioCat are available
                            <a href="{{url_for('main_site.instructions_for_data_contribution')}}">here</a>
                        </p>

                        <p><small>All database contributions are attributed with your name and organisation, as they are entered in your user profile.
                            This information can be changed in the 'User Profile' page, in the user menu at the right of the navbar.
                            Deleting your account will remove this information.</small></p>
                        <p><small>Entered data will be reviewed by a 'super-contributor' or 'enzyme leader'.
                            Database contributors may receive email communication from RetroBioCat.</small></p>
                        <p><small>Feedback on the data entry process or the database in general is very welcome.</small></p>

                        {% if current_user.is_anonymous %}
                            <h5 class="text-danger text-center">Please create an account and log in to sign up as a database contributor</h5>
                        {% else %}
                            <form id="main_form" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-group my-2">
                                    {{ form.submit(class="btn-lg btn-block btn-success text-center", form="main_form") }}
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}