<div>
    <p class="">
        <strong> Help </strong> <br>
        Pathways are presented in order of weighted score <br>
        Use the arrows to explore different pathway options <br>
        Some pathways are identical except for the order of the enzymes, they are available as pathway varients. <br>
        Pathways can be re-ordered by different weights in the weights tab <br>
        Click and hold a node to launch a moro-info pop-up<br>
        <br>
        A short tutorial is available
        <a href="{{url_for('static', filename='pathway_explorer_tutorial.pdf') }}" target="_blank"> here</a>
    </p>

    <p class="">
        <strong> Colour legend </strong> <br>
        Yellow molecule - target <br>
        Purple molecules - in the building block database <br>
        <br>
        Relative complexity - green: simpler, red: more complex. <br>
        Substrate specificity - green: active, red: not active <br>
    </p>
</div>