<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-sm btn-outline-success"><-</button>
            <button class="btn btn-sm btn-outline-success float-right">-></button>
            <button class="btn btn-sm btn-outline-success float-right">Save</button>
            <p>Row <span id="row_number">1</span></p>
        </div>
    </div>


    <div class="row" align="center">
        <div class="col"></div>
        <div class="col-10">
            <p>
                <button class="btn btn-outline-secondary mol_btn" id="s1_btn">Choose molecule</button>
                +
                <button class="btn btn-outline-secondary mol_btn" id="s2_btn">Choose molecule</button>
                ------->
                <button class="btn btn-outline-secondary mol_btn" id="p_btn">Choose molecule</button>
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>
