{% extends "base.html" %}
{% set active_page = "contributions_menu" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-form my-5">
                    <div class="card-body">
                        <h3 class="card-title">{{paper['short_cit']}}</h3>
                        <p id="checking_connection" style="display: None" class="text-danger">Checking connection.  If this is message persists, connection to retrobiocat has been lost.  Please refresh the page before continuing.</p>
                        <ul class="nav nav-tabs" id="tab_list" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="check_and_save_tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="true">Status</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="paper_tab" data-toggle="tab" href="#paper" role="tab" aria-controls="paper" aria-selected="false">Paper</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="sequences_tab" data-toggle="tab" href="#sequences" role="tab" aria-controls="sequences" aria-selected="false">Sequences</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="activity_tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
                          </li>
                          {% if admin_panel == True %}
                            <li class="nav-item">
                                <a class="nav-link" id="admin_panel_tab" data-toggle="tab" href="#admin_panel" role="tab" aria-controls="admin_panel" aria-selected="false">Admin</a>
                            </li>
                          {% endif %}

                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status_tab">
                              {% include '/data_submission/status_tab.html' %}
                          </div>
                          <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper_tab">
                              {% include '/data_submission/paper_data.html' %}
                          </div>
                          <div class="tab-pane fade" id="sequences" role="tabpanel" aria-labelledby="sequences_tab">
                                {% include '/tabulator_tables/sequences_table/sequences_table.html' %}
                                <button id="add_enzyme_button" class="btn btn-success" data-toggle="modal" data-target="#add_new_enzyme_modal">Add Enzyme</button>
                                <button class="btn btn-outline-primary" id="upload_seq_excel" data-toggle='modal' data-target='#upload_seq_excel_modal'>Upload Excel</button>
                          </div>
                          <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity_tab">
                                  {% include '/tabulator_tables/activity_table/activity_table.html' %}
                          </div>
                          {% if admin_panel == True %}
                              <div class="tab-pane fade" id="admin_panel" role="tabpanel" aria-labelledby="admin_panel_tab">
                                      {% include 'data_submission/admin_panel.html' %}
                              </div>
                          {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/data_submission/add_enzyme_modal.html' %}
    {% include '/data_submission/upload_seq_excel_modal.html' %}

    <script>
        function renew_session() {
            document.getElementById("checking_connection").style.display = "inline";
            $.post(Flask.url_for("biocatdb.check_connection"), {
                task_id: window.task_id
            }).done(function(data) {
                if (data.status === 'success') {
                    document.getElementById("checking_connection").style.display = "None";
                } else {
                    setTimeout(renew_session(), 5000)
                }

            })
        }

        setInterval(renew_session(), 30000);

        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle='tab']", function(event) {
                location.hash = this.getAttribute("href");
            });
        });

        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });

    </script>


{% endblock %}