<style>
    div.graph_tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 28px;
        padding: 2px;
        font: 16px sans-serif;
        background: rgb(213, 159, 159);
        border: 0.5px;
        border-radius: 8px;
        pointer-events: none;
        }



</style>



<script>

    function draw_alignment_cluster_graph(data, max_alignment, min_alignment, max_num_clusters) {
        d3.select("svg").remove()

        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 30, bottom: 50, left: 60},
            width = 460 - margin.left - margin.right,
            height = 150 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#alignment_scores_vs_cluster_num_viz")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        var tool_div = d3.select("#alignment_scores_vs_cluster_num_viz").append("div")
                                                                        .attr("class", "graph_tooltip")
                                                                        .style("opacity", 0);

        // Add X axis
        var x = d3.scaleLinear()
            .domain([min_alignment, max_alignment])
            .range([0, width]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // text label for the x axis
        svg.append("text")
          .attr("transform",
                "translate(" + (width/2) + " ," +
                               (height + margin.top + 20) + ")")
          .style("text-anchor", "middle")
          .text("Alignment score");

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([0, max_num_clusters])
            .range([height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y));

          // text label for the y axis
        svg.append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 0 - margin.left)
          .attr("x",0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("Num. clusters");

        // Add dots
        svg.append('g')
            .selectAll("dot")
            .data(data)
            .enter()
            .append("circle")
            .on("mouseover", function(data) {
                tool_div.transition()
                    .duration(200)
                    .style("opacity", .9);
                tool_div.html(data.alignment_score)
                    .style("left", d3.event.pageX + "px")
                    .style("top", d3.event.pageY + "px");
                })
            .on("mouseout", function(data) {
                tool_div.transition()
                    .duration(500)
                    .style("opacity", 0)})
            .attr("cx", function (d) {
                return x(d.alignment_score);
            })
            .attr("cy", function (d) {
                return y(d.num_clusters);
            })
            .attr("r", 5)
            .style("fill", "#860000")
    }


</script>