
<!-- Requires jinja variables: seq_data, seq_button_columns, seq_table_height, enzyme_types-->


<div id="seq_table"></div>
<div id="seq_response"></div>
{% include '/tabulator_tables/sequences_table/other_modals/merge_modal.html' %}
{% include '/tabulator_tables/sequences_table/other_modals/seq_papers_modal.html' %}
{% include '/tabulator_tables/sequences_table/other_modals/delete_modal.html' %}
{% include '/tabulator_tables/sequences_table/edit_seq_modal/edit_seq_modal.html' %}

<script>

    var deleteButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-danger' data-toggle='modal' data-target='#delete_modal'>Delete</button>";
    };

    var removeButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-danger'>Remove</button>";
    };

    var editButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-info' data-toggle='modal' data-target='#edit_seq_modal'>Edit</button>";
    };

    var mergeButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-warning' data-toggle='modal' data-target='#merge_modal'>Merge</button>";
    };

    var seePapersButton = function(cell, formatterParams, onRendered){ //plain text value
        return "<button class='btn btn-sm btn-outline-primary' data-toggle='modal' data-target='#seq_papers_modal'>Papers</button>";
    };

    var seq_columns = [

        {'title':"ID", align:"center", 'field':"_id", visible:false, headerSort:false},

        {'title': "Type", align:"center", 'field': "enzyme_type", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Name", align:"center", 'field': "enzyme_name", headerFilter:"input"},

        {'title': "Sequence", align:"left", 'field': "sequence", 'width':250, headerFilter:"input"},

        {'title': "Seq. unavailable", align:"center", 'field': "sequence_unavailable", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Accession", align:"center", 'field': "accession", headerFilter:"input"},

        {'title': "Structure", align:"center", 'field': "structure", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Mutant of", align:"center", 'field': "mutant_of", headerFilter:"input"},

        {'title': "Notes", align:"center", 'field': "notes", 'width':150, headerFilter:"input"},

        {'title': "Other names", align:"center", 'field': "other_names", 'width':150, headerFilter:"input"},

        {'title': "Num. papers", align:"center", 'field': "papers"},

        {% if 'papers' in seq_button_columns %}
            {'title': 'See papers', 'width':80, formatter:seePapersButton, align:"center", cellClick:function(e, cell){load_seq_papers(cell.getRow().getData().enzyme_name)}},
        {% endif %}

        {% if include_owner == True %}
            {'title': "Curated by", align:"center", 'field': "owner", headerFilter:"select", headerFilterParams:{values:true}},
        {% endif %}

        {% if 'delete' in seq_button_columns %}
            {'title': 'Delete', 'width':80, formatter:deleteButton, align:"center", cellClick:function(e, cell){load_seq_delete(cell.getRow().getData().enzyme_name)}},
        {% endif %}

        {% if 'remove' in seq_button_columns %}
            {'title': 'Remove', 'width':80, formatter:removeButton, align:"center", cellClick:function(e, cell){remove_sequence(cell.getRow().getData().enzyme_name)}},
        {% endif %}

        {% if 'merge' in seq_button_columns %}
            {'title': 'Merge', 'width':80, formatter:mergeButton, align:"center", cellClick:function(e, cell){load_seq_merge(cell.getRow().getData().enzyme_name)}},
        {% endif %}

        {% if 'edit' in seq_button_columns %}
            {'title': 'Edit', 'width':80, formatter:editButton, align:"center", cellClick:function(e, cell){load_edit_seq_data(cell.getRow().getData().enzyme_name)}},
        {% endif %}

    ]

    {% if show_header_filters == False %}
        seq_columns.forEach(function(col) {
            col.headerFilter = false
        })
    {% endif %}

    var seq_tabledata = {{seq_data|safe}};

    var seq_table = new Tabulator("#seq_table", {
        data:seq_tabledata, //assign data to table
        maxHeight:"{{seq_table_height}}",
        layout:"fitColumns",
        addRowPos:"bottom",
        columns:seq_columns,
        cellHozAlign:"center",
        cellVertAlign:"middle",})

    {% if 'remove' in seq_button_columns %}
        function remove_sequence(name) {
            $.post('/_remove_seq_from_paper', {
                paper_id: "{{paper['id']}}",
                enzyme_name: name,

                }).done(function(data) {
                    response_msg(data.result.msg, data.result.status, data.result.issues, "seq_response")
                    if (data.result.status === 'success') {
                        document.location.reload()
                    }

                })
            }
    {% endif %}


    function load_seq_merge(name) {
        document.getElementById("original_name_merge").innerHTML = name;
        hide_merge_confirm()
        $.post('/_load_sequence_data', {
            name: name,
            }).done(function(data) {
                set_select("seq_select", data.result.sequences)
            })
        }

    function load_seq_delete(name) {
        document.getElementById("original_name_delete").innerHTML = name;
        hide_delete_confirm()
    }

    function load_seq_papers(name) {
        $.post('/_load_sequence_papers', {
            name: name,
            }).done(function(data) {
                short_papers_table.replaceData(data.result.papers)
                document.getElementById("seq_papers_modal_title").innerHTML = "Papers featuring sequence: " + name;

            })
    }




</script>