<ul class="nav nav-tabs" id="tab_list" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="activity_info_link"
           data-toggle="tab" href="#activity_info"
           role="tab" aria-controls="activity_info"
           aria-selected="true">Activity</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="reaction_info_link"
           data-toggle="tab" href="#reaction_info"
           role="tab" aria-controls="reaction_info"
           aria-selected="false">Reaction</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="enzyme_info_link"
           data-toggle="tab" href="#enzyme_info"
           role="tab" aria-controls="enzyme_info"
           aria-selected="false">Enzyme</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="paper_info_link"
           data-toggle="tab" href="#paper_info"
           role="tab" aria-controls="paper_info"
           aria-selected="false">Paper</a>
    </li>
</ul>

<div class="tab-content" id="tab_content">
    <div class="tab-pane fade show active" id="activity_info" role="tabpanel" aria-labelledby="activity_info_tab">

    </div>

    <div class="tab-pane fade" id="reaction_info" role="tabpanel" aria-labelledby="reaction_info_tab">

    </div>

    <div class="tab-pane fade" id="enzyme_info" role="tabpanel" aria-labelledby="enzyme_info_tab">

    </div>
    
    <div class="tab-pane fade" id="paper_info" role="tabpanel" aria-labelledby="paper_info_tab">

    </div>
</div>