<div class="modal fade" id="activity_modal" tabindex="-1" role="dialog"
     aria-labelledby="activity_modal_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activity_modal_modalLabel">More info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {% include '/activity_modal/activity_modal_content.html' %}

            </div>
        </div>
    </div>
</div>


<script>
    function set_reaction_img(sub1, sub2, prod, reaction_name, enzyme, enzyme_type, biocat_conc, formulation, selectivity) {

        var substrate_images = document.getElementById("substrate_images")
        substrate_images.innerHTML = ''
        substrate_images.innerHTML += "<img class='no_margin' src='" + sub1 +"' alt=''>"
        if (sub2 != '') {
            substrate_images.innerHTML += "<p class='no_margin'><strong> + </strong></p>"
            substrate_images.innerHTML += "<img class='no_margin' src='" + sub2 +"' alt=''>"
        }

        var reaction_images = document.getElementById("reaction_images")
        reaction_images.innerHTML = ''
        reaction_images.innerHTML = "<p class='no_margin'>"+ reaction_name +"</p>"
        reaction_images.innerHTML += "<p class='no_margin'><strong>--------></strong></p>"
        reaction_images.innerHTML += "<p class='no_margin'>"+ enzyme + " <small class='text-secondary'>(" + enzyme_type + ")</small></p>"
        reaction_images.innerHTML += "<p class='no_margin text-info'><small>"+ biocat_conc +" " + formulation + "</small></p>"

        var product_images = document.getElementById("product_images")
        product_images.innerHTML = ''
        product_images.innerHTML += "<img src='" + prod +"' alt=''>"
        product_images.innerHTML += "<p class='no_margin'>"+ selectivity +"</p>"

    }

    function add_reaction_conditions(sub1_conc, sub2_conc, other_conditions) {
        var substrate_conditions = document.getElementById("substrate_conditions")
        substrate_conditions.innerHTML = ''
        if (sub1_conc != '') {
            substrate_conditions.innerHTML += "<p class='no_margin'><strong>Substrate 1: </strong>" + sub1_conc + "</p>"
        }
        if (sub2_conc != '') {
            substrate_conditions.innerHTML += "<p class='no_margin'><strong>Substrate 2: </strong>" + sub2_conc + "</p>"
        }
    }


    function load_single_activity_data(activity_id) {
        $.post('/_load_single_activity_data', {
            activity_id: activity_id,
        }).done(function (data) {
            set_reaction_img(data.result.sub1_img, data.result.sub2_img, data.result.prod_img,
                             data.result.reaction, data.result.enzyme_name, data.result.enzyme_type,
                             data.result.biocat_conc, data.result.formulation, data.result.selectivity)
            add_reaction_conditions(data.result.sub1_conc, data.result.sub2_conc, 'other_conditions')
            document.getElementById("activity_added_by").innerHTML = data.result.added_by


        })
    }
</script>