<div>
    <p class="">
        <strong> Help </strong> <br>
        Double click a molecule node to extend the network <br>
        Double click a reaction node to delete parts of the network <br>
        Hover over a node for more information <br>
        Click and hold a node to launch a moro-info pop-up<br>
    </p>

    <p class="">
        <strong> Colour legend </strong> <br>
        Yellow molecule - target <br>
        Purple molecules - in the building block database <br>
        <br>
        Relative complexity - green: simpler, red: more complex. <br>
        Substrate specificity - green: active, red: not active <br>
    </p>
</div>