<div class="container">

    <div class="form-inline">
        <label for="max_pathways">Max reactions:</label>
        <input type="number" id="max_reactions" class="form-control w-25" value="{{max_reactions}}">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="reaction_mode_radio" id="default_reaction_select" value="default" checked>
        <label class="form-check-label" for="default">
            Biocatalysis - Default RetroBioCat ruleset
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="reaction_mode_radio" id="aizynth_reaction_select" value="aizynth">
        <label class="form-check-label" for="aizynth">
            Chemistry - AIZynthfinder templates + policy
        </label>
    </div>
    <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="reaction_mode_radio" id="retrorules_reaction_select" value="retrorules" disabled>
        <label class="form-check-label" for="retrorules">
            Metabolism - RetroRules
        </label>
    </div>

</div>



