<div class="container">
    <p>
        Select the method you would like to use when filtering reactions more than the maxmimum allowed..
    </p>

    <h5 class="mt-4">Biocatalysis: RetroBioCat reaction selection</h5>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="retrobiocat_mode" id="rbc_complexity" value="complexity" checked>
        <label class="form-check-label" for="rbc_complexity">
            Select best change in complexity
        </label>
    </div>

    <h5 class="mt-4">Chemistry: Aizynth reaction selection</h5>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="aizynth_mode" id="aiz_policy" value="policy" checked>
        <label class="form-check-label" for="aiz_policy">
            Select highest prediction by policy model
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="aizynth_mode" id="aiz_complexity" value="complexity">
        <label class="form-check-label" for="aiz_policy">
            Select best change in complexity
        </label>
    </div>


</div>



