<div class="siimple-grid">
    <div class="siimple-card">
        <div class="siimple-card-header">
            {{rule_info['name']}}
        </div>
        <div class="siimple-card-body">
            <img src="{{rule_info['img']}}", height="22%">
            <p class="siimple-p">
                <strong>Selected enzyme: </strong> {{rule_info['selected_enzyme']}}
            </p>
            <p class="siimple-p">
                <strong>Possible enzymes: </strong> {{rule_info['possible_enzymes']}}
            </p>
        </div>
    </div>

</div>
