<div class="">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="filter_by_status" onclick="filter_closed_open()">
        <label class="custom-control-label" for="filter_by_status">Show closed suggestions</label>
    </div>
</div>

<p class="text-danger no_margin">Click on a row to load the suggestion and see comments.</p>
<div id="reaction_suggestions_table"></div>

<script>
    var columns = [

        {'title': "_id", 'field': "_id", visible:false},

        {title:"Date", field:"date", formatter:"datetime", 'minWidth':100, formatterParams:{
                outputFormat:"DD/MM/YYYY",
                invalidPlaceholder:"(invalid date)"}},

        {'title': "Reaction name", 'field': "reaction", 'minWidth':100, formatter:"textarea", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Status", 'field': "status", 'minWidth':100, formatter:"textarea", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Created by", 'field': "owner", 'minWidth':100, formatter:"textarea", headerFilter:"select", headerFilterParams:{values:true}},

        {'title': "Details", 'field': "details", 'minWidth':500, formatter:"textarea", headerFilter:"select", headerFilterParams:{values:true}},

        ]

    var tabledata = {{reaction_suggestions_data|safe}}

    var table = new Tabulator("#reaction_suggestions_table", {
        data:tabledata, //assign data to table
        maxHeight:"75vh",
        layout:"fitColumns",
        addRowPos:"bottom",
        columns:columns,
        cellHozAlign:"center",
        cellVertAlign:"middle",
        rowClick:function(e, row){
            var rowData = row.getData();
            var suggestion_id = rowData['_id']
            location.href = Flask.url_for("retrobiocat.reaction_suggestion", {"suggestion_id": suggestion_id})
            },
    });

    table.setFilter("status", "=", 'Open');

    function filter_closed_open() {
        console.log('Checkbox clicked')
        if (document.getElementById("filter_by_status").checked === false){
            table.setFilter("status", "=", 'Open');
        } else {
            table.clearFilter();
        }
    }



</script>

