<li id='experimental_menu' class="nav-item dropdown ml-auto">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if team_notifications['total'] != 0 %}
            <span class="badge badge-danger">{{total_team_notifications}}</span>
        {% endif %}
        Enzyme teams
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        {% for enz_type in team_notifications %}
            <strong>{{enz_type}} team</strong>
            <a class="dropdown-item" href="{{url_for('biocatdb.papers_that_need_data', enzyme_type=enz_type)}}">
                {% if team_notifications[enz_type] != 0 %}
                    <span class="badge badge-danger">{{team_notifications[enz_type]}}</span>
                {% endif %}
                {{enz_type}} papers that need data
            {{ enzyme_champion }}
            </a>
            {% if enz_type in enzyme_champion %}
                <strong>{{enz_type}} champion</strong>
                <a class="dropdown-item" href="{{url_for('biocatdb.enzyme_champion_papers', enzyme_type=enz_type)}}">
                    {% if champ_notifications[enz_type] != 0 %}
                        <span class="badge badge-danger">{{champ_notifications[enz_type]}}<small> to review</small></span>
                    {% endif %}
                    {{enz_type}} all papers
                </a>
                <a class="dropdown-item" href="{{url_for('biocatdb.enzyme_champion_seq', enzyme_type=enz_type)}}">{{enz_type }} all sequences</a>
            {% endif %}
        {% endfor %}
    </div>
</li>



