<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('main_site.home') }}">
        <img src="{{ url_for('static', filename='logos/logo_main.png') }}" width="30px" height="30px" alt=" "/>
        RetroBioCat
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main_navbar"
            aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="main_navbar" style="">
        <ul class="navbar-nav mr-auto">
            <li id='retrosynthesis' class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Retro-synthesis</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('retrobiocat.network_explorer_form') }}">Network explorer</a>
                    <a class="dropdown-item" href="{{ url_for('retrobiocat.pathway_explorer_form') }}">Pathway explorer</a>
                    <a class="dropdown-item" href="{{ url_for('main_site.retrosynthesis_help') }}">Help</a>
                </div>
            </li>

            <li id='biocatdb' class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Enzyme database</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('biocatdb.substrate_specificity_form') }}">Substrate specificity</a>
                    <a class="dropdown-item" href="{{ url_for('biocatdb.substrate_scope_search') }}">Substrate scope</a>
                    <a class="dropdown-item" href="{{ url_for('biocatdb.sequence_search') }}">Enzymes</a>
                    <a class="dropdown-item" href="{{ url_for('biocatdb.papers_search') }}">Papers</a>
                    {% if current_user.has_role('experimental') %}
                        <a class="dropdown-item text-danger" href="{{url_for('biocatdb.ssn_form') }}">Sequence similarity networks</a>
                    {% endif %}
                </div>
            </li>

            <li id='community_driven' class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Community-driven</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <p class="no_margin"><strong>Reaction rules</strong></p>
                    <a class="dropdown-item" href="{{ url_for('retrobiocat.suggest_new_reaction') }}">Suggest a new reaction</a>
                    <a class="dropdown-item" href="{{ url_for('retrobiocat.reaction_suggestions_table') }}">Reaction suggestions</a>
                    <a class="dropdown-item" href="{{ url_for('retrobiocat.reaction_issues_table') }}">Reaction issues</a>
                    <p class="no_margin"><strong>Enzyme database</strong></p>
                    <a class="dropdown-item" href="{{url_for('biocatdb.enzyme_teams')}}">Enzyme teams</a>
                    <a class="dropdown-item" href="{{url_for('biocatdb.paper_progress')}}">Database completion</a>
                    <a class="dropdown-item" href="{{url_for('biocatdb.leaderboard')}}">Contributors</a>
                    <a class="dropdown-item" href="{{url_for('biocatdb.activity_data_issues_table')}}">Activity data issues</a>
                    {% if not current_user.has_role('contributor') %}
                        <a class="dropdown-item text-success" href="{{url_for('biocatdb.contributor_sign_up')}}">Become a database contributor</a>
                    {% endif %}
                    <p class="no_margin"><strong>Other</strong></p>
                    <a class="dropdown-item" href="https://github.com/willfinnigan/RetroBioCat/issues" target="_blank">Report a bug</a>
                    <a class="dropdown-item" href="https://groups.google.com/g/retrobiocat" target="_blank">Forum</a>
                </div>
            </li>

            <li id='more_info' class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">More info</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('retrobiocat.reaction_rules') }}">Reaction rules</a>
                    <a class="dropdown-item" href="{{ url_for('main_site.automated_cascade_design') }}">Automated Cascade Design</a>
                </div>
            </li>
        </ul>

        {% if current_user.has_role('enzyme_teams') or current_user.has_role('enzyme_champion')  %}
            <ul class="navbar-nav">
                {% include 'navbar/enzyme_teams.html' %}
            </ul>
        {% endif %}


        {% if current_user.has_role('contributor') %}
            <ul class="navbar-nav">
                {% include 'navbar/contributor_menu.html' %}
            </ul>
        {% endif %}

        <ul class="navbar-nav">
            {% if current_user.is_anonymous %}
                <li id='pathway_explorer' class="nav-item">
                    <a class="nav-link" href="/login">Login / Sign-up</a>
                </li>
            {% else %}
                {% include 'navbar/logged_in_menu.html' %}
            {% endif %}
        </ul>

    </div>

</nav>

